confirm-guess-modal {
    .confirm-guess-modal {
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .confirm-guess-character {
        width: 22%;
        margin: 7.5px;
    }
}
