html,
body,
.content {
    height: 100%;
}

@mixin flex-container($direction, $align, $justify) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
    -webkit-align-items: $align;
    align-items: $align;
    -webkit-justify-content: $justify;
    justify-content: $justify;
}

@mixin app-background() {
    background: linear-gradient(-45deg, darken(color($colors, secondary), 10%), lighten(color($colors, secondary), 10%));
}

.button {
    font-family: Verdana, sans-serif;
    border: 1px solid color($colors, dark);
    border-radius: 12px;
    color: color($colors, dark);
}

.button-large {
    border-radius: 20px;
}

// @mixin column($width) {
//     -webkit-box-flex: 0;
//     -webkit-flex: 0 0 $width;
//     -ms-flex: 0 0 percentage($width/100);
//     flex: 0 0 percentage($width/100);
//     max-width: percentage($width/100);
// }
