html,
body,
.content {
    height: 100%;
}

@mixin flex-container($direction, $align, $justify) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
    -webkit-align-items: $align;
    align-items: $align;
    -webkit-justify-content: $justify;
    justify-content: $justify;
}

@mixin app-background() {
    background: linear-gradient(-45deg, darken(color($colors, secondary), 10%), lighten(color($colors, secondary), 10%));
}

.button {
    font-family: Verdana, sans-serif;
    border: 1px solid color($colors, dark);
    border-radius: 12px;
    color: color($colors, dark);
}

.button-large {
    border-radius: 20px;
}

.modal-outer-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(color($colors, dark), 0.7);
}

.modal-inner-container {
    @include app-background();
    height: 50%;
    width: 50%;
    border-radius: 2vw;
    border: 0.5vw solid color($colors, dark);
}

.hidden {
    visibility: hidden;
}