waiting-room-page {
    .waiting-room {
        @include app-background;
        height: 100%;
    }

    .waiting-room-content {
        @include flex-container(column, center, center);
        height: 100%;
    }

    h3 {
        color: color($colors, dark);
        font-family: Bubblegum, serif;
    }

    .button,
    button {
        margin-top: 10px;
    }
}
