// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@font-face {
    font-family: 'Modak';
    src: url('../../fonts/Modak/Modak-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import "../pages/main-menu/main-menu";
@import "../pages/waiting-room/waiting-room";
@import "../pages/game-board/game-board";
@import "../pages/game-board/modals/game-over-modal";
@import "../../node_modules/font-awesome/scss/font-awesome";
