<ion-content>
    <ion-grid class="game-board" *ngIf="!gameLoading">
        <ion-row>
            <ion-col class="game-board-characters">
                <ion-row *ngFor="#characterRow of characterGrid">
                    <ion-col *ngFor="#character of characterRow">
                        <div class="flip-container" [ngClass]="{'game-board-character-eliminated': character.isEliminated }">
                            <div class="flipper">
                                <div class="front">
                                    <div class="character" [ngClass]="{'game-board-character-selected': character.isSelected }">
                                        <img src={{character.imagePath}} (click)="characterTapped(character)">
                                        <p>{{character.name}}</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <h3><i class="fa fa-question"></i></h3>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="game-board-dash">
                <ion-row class="menu-row">
                    <ion-col>
                        <p *ngIf="game.isOwnTurn">Your turn</p>
                        <p *ngIf="!game.isOwnTurn">Opponent's turn</p>
                    </ion-col>
                    <ion-col>
                        <button class="button" (click)="returnToMenu()">Menu</button>
                    </ion-col>
                </ion-row>
                <ion-row class="own-character-row">
                    <ion-col>
                        <div class="character">
                            <img src={{ownCharacter.imagePath}}>
                            <p>{{ownCharacter.name}}</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="actions-row">
                    <ion-col>
                        <button class="button" (click)="endTurn()">Flip</button>
                    </ion-col>
                    <ion-col>
                        <button class="button" (click)="guessSelectedCharacter()">Guess!</button>
                    </ion-col>
                </ion-row>               
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
