<div class="game-board-loading" *ngIf="gameLoading">
    Initialising the game.
</div>
<div class="game-board" *ngIf="!gameLoading">
    <div class="game-board-row">
        <img *ngFor="#character of characterRow1" [ngClass]="{'game-board-character-selected': character.isSelected, 'game-board-character-eliminated': character.isEliminated }" src={{character.imagePath}} (click)="characterTapped(character)">
    </div>
    <div class="game-board-row">
        <img *ngFor="#character of characterRow2" [ngClass]="{'game-board-character-selected': character.isSelected, 'game-board-character-eliminated': character.isEliminated }" src={{character.imagePath}} (click)="characterTapped(character)">
    </div>
    <div class="game-board-row">
        <img *ngFor="#character of characterRow3" [ngClass]="{'game-board-character-selected': character.isSelected, 'game-board-character-eliminated': character.isEliminated }" src={{character.imagePath}} (click)="characterTapped(character)">
    </div>
    <div *ngIf="!game.gameOver" class="game-board-footer">
        <div class="game-board-footer-inner">
            <button class="button button-positive" (click)="endTurn()">End Turn</button>
            <img src={{ownCharacter.imagePath}}>
            <p *ngIf="game.isOwnTurn">Your turn</p>
            <p *ngIf="!game.isOwnTurn">Opponent's turn</p>
            <button class="button button-assertive" (click)="guessSelectedCharacter()">Guess!</button>
        </div>
    </div>
    <div *ngIf="game.gameOver" class="game-over-footer">
        <div *ngIf="game.gameOverVictory"><p>You win!!!</p></div>
        <div *ngIf="!game.gameOverVictory"><p>You lose...</p></div>
        <button class="button button-positive" (click)="returnToMenu()">Return to home screen.</button>
    </div>
</div>
