// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html,
body,
.content {
    height: 100%;
}

@mixin app-background {
    background: url("../assets/img/background.png") no-repeat center top;
    background-size: 100% auto;
}

// ----------------------------- Buttons -----------------------------
.button {
    font-family: Bubblegum;
    font-size: 2vw;
    border: 1.5px solid color($colors, dark);
    background-image: linear-gradient(color($colors, primary), color($colors, primary), color($colors, primary), lighten(color($colors, primary), 20%));
    color: color($colors, dark);
}

.button:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100%);
    height: 50%;
    background: linear-gradient(rgba(lighten(color($colors, primary), 25%), 0.8), rgba(lighten(color($colors, primary), 25%), 0.2));
}

.button-large {
    border-radius: 10px;
}

// --------------------- Character cards -------------------------

@mixin character-card-border {
    border-radius: 2vw;
    border: 0.5vw solid color($colors, dark);
}

.character {
    overflow: hidden;

    img {
        width: 100%;
        display: block;
    }

    p {
        text-align: center;
        margin: 0px;
        padding: 0px;
        font-size: 1.8vw;
        line-height: 150%;
        background-color: color($colors, dark);
        color: color($colors, secondary);
        font-family: Verdana, sans-serif;
    }

    @include character-card-border;
}

.header {
    min-height: $header-height;
}

// ------------------- Helpers -------------------------

.hidden {
    visibility: hidden;
}

.load-images {
    display: none;
}

@mixin flex-container($direction, $align, $justify) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
    -webkit-align-items: $align;
    align-items: $align;
    -webkit-justify-content: $justify;
    justify-content: $justify;
}

// -------------------- Fonts --------------------------

@font-face {
    font-family: 'Bubblegum';
    src: url("../assets/fonts/Modak/Bubblegum.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
