<div class="game-board-container">
    <ion-grid class="game-board" *ngIf="!gameLoading">
        <ion-row>
            <ion-col class="game-board-characters">
                <ion-row *ngFor="let characterRow of characterGrid">
                    <ion-col *ngFor="let character of characterRow">
                        <div class="flip-container" (click)="characterTapped(character)" [ngClass]="{'game-board-character-flipped': character.isSelected || character.isEliminated}">
                            <div class="flipper">
                                <div class="front">
                                    <div class="character">
                                        <img src={{character.imagePath}}>
                                        <p>{{character.name}}</p>
                                    </div>
                                </div>
                                <div class="back" [ngClass]="{'game-board-character-eliminated': character.isEliminated}">
                                    <h3><i class="fa fa-question"></i></h3>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="game-board-dash">
                <ion-row class="menu-row">
                    <ion-col>
                        <div *ngIf="game.isOwnTurn">
                            <h3>Your turn</h3>
                            <p>Ask a question!</p>
                        </div>
                        <div *ngIf="!game.isOwnTurn">
                            <h3>Opponent's turn</h3>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="own-character-row">
                    <ion-col>
                        <div class="character">
                            <img src={{ownCharacter.imagePath}}>
                            <p>{{ownCharacter.name}}</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="actions-row">
                    <ion-col>
                        <button [disabled]="!game.isOwnTurn" ion-button class="button button-large" (click)="endTurnTapped()">End Turn</button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>