game-board-page {
    .game-board {
        height: 100%;
        justify-content: center;
        @include app-background();
        padding: 3px;
    }

    .game-board-container {
        height: 100%;
    }

    .game-board-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
        background-color: rgba(color($colors, dark), 0.7);
    }

    .game-board-characters {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        @include app-background();
        z-index: 20;
        ion-col {
            padding: 2px;
        }
    }

    .characters-controls {
        display: flex;
        justify-content: center;
    }

    .game-board-dash {
        font-size: 10px;
        .button {
            font-size: 10px;
        }
        background: lighten(color($colors, secondary), 5%);
        max-width: 20%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        ion-col {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;
            margin: 0px;
        }
        .menu-row {
            flex-grow: 1;
            flex-basis: 0;
            ion-col {
                p {
                    color: color($colors, dark);
                }
                display: flex;
                align-items: center;
                text-align: center;
                .button {
                    width: 100%
                }
            }
        }
        .own-character-row {
            flex-grow: 1;
            flex-basis: 0;
            .character {
                width: 67%;
            }
        }
        .actions-row {
            flex-grow: 1;
            flex-basis: 0;
            .button {
                width: 100%
            }
        }
    }

    // Fade eliminated characters when asking.
    .game-board-character-eliminated {
        opacity: 0.5;
    }

    // Code for character card flip animation.
    .flip-container {
        perspective: 1000px;
    }

    .game-board-character-flipped .flipper,
    {
        transform: rotateY(180deg);
    }

    // Flip speed goes here
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    // Hide back of pane during swap
    .front,
    .back {
        backface-visibility: hidden;
    }

    // Front pane, placed above back
    .front {
        z-index: 2;
        transform: rotateY(0deg);
    }

    // Back, initially hidden pane
    .back {
        box-sizing: border-box;
        transform: rotateY(180deg);
        background-color: color($colors, primary);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        h3 {
            font-size: 10vw;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin: 0px;
            font-family: 'Modak', cursive;
            color: color($colors, dark);
        }
    }

    .back {
        @include character-card-border();
    }
}

