<div class="game-board-container">
    <div [ngClass]="{'game-board-overlay': ownPlayer.isAsking || ownPlayer.isGuessing }"></div>
    <ion-grid class="game-board" *ngIf="!gameLoading">
        <ion-row>
            <ion-col class="game-board-characters">
                <ion-row *ngFor="let characterRow of characterGrid">
                    <ion-col *ngFor="let character of characterRow">
                        <div class="flip-container" (click)="characterTapped(character)" [ngClass]="{'game-board-character-flipped': character.isSelected || character.isEliminated }">
                            <div class="flipper">
                                <div class="front">
                                    <div class="character">
                                        <img src={{character.imagePath}}>
                                        <p>{{character.name}}</p>
                                    </div>
                                </div>
                                <div class="back" [ngClass]="{'game-board-character-eliminated': ownPlayer.isAsking && character.isEliminated }">
                                    <h3><i class="fa fa-question"></i></h3>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <div class="characters-controls" *ngIf="ownPlayer.isAsking">
                    <button ion-button class="button button-small" (click)="endTurn()">End Turn</button>
                    <button ion-button class="button button-small" (click)="cancelAsk()">Cancel</button>               
                </div>
                 <div class="characters-controls" *ngIf="ownPlayer.isGuessing">
                    <button ion-button class="button button-small" [ngClass]="{'hidden': !ownPlayer.isGuessing }" (click)="cancelGuess()">Cancel</button>  
                </div>
                <div class="characters-controls" *ngIf="!ownPlayer.isAsking && !ownPlayer.isGuessing">
                    <button ion-button class="button button-small hidden"></button>         
                </div>
            </ion-col>
            <ion-col class="game-board-dash">
                <ion-row class="menu-row">
                    <ion-col>
                        <p *ngIf="game.isOwnTurn">Your turn</p>
                        <p *ngIf="!game.isOwnTurn">Opponent's turn</p>
                    </ion-col>
                    <ion-col>
                        <button ion-button class="button button-small" (click)="menuButtonTapped()">Menu</button>
                    </ion-col>
                </ion-row>
                <ion-row class="own-character-row">
                    <ion-col>
                        <div class="character">
                            <img src={{ownCharacter.imagePath}}>
                            <p>{{ownCharacter.name}}</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="actions-row">
                    <ion-col>
                        <button ion-button class="button button-small" (click)="askTapped()" [disabled]="!game.isOwnTurn">Ask</button>
                    </ion-col>
                    <ion-col>
                        <button ion-button class="button button-small" (click)="guessTapped()" [disabled]="!game.isOwnTurn">Guess!</button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
