game-board-page {
    .game-board-container {
        @include app-background;

        height: 100%;
    }

    .game-board {
        height: 100%;
        justify-content: center;
        padding: 0px;
    }

    .game-board-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
        background-color: rgba(color($colors, dark), 0.7);
    }

    .game-board-characters {
        max-width: 82.5%;
        display: flex;
        flex-direction: column;
        z-index: 20;

        ion-col {
            padding: 2px;
        }
    }

    .characters-controls {
        display: flex;
        justify-content: center;
    }

    .game-board-dash {
        font-size: 10px;
        background: lighten(color($colors, secondary), 5%);
        max-width: 17.5%;
        display: flex;
        flex-direction: column;
        align-items: space-between;

        ion-col {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;
            margin: 0px;
        }

        .menu-row {
            flex-grow: 1;
            flex-basis: 0;

            ion-col {
                display: flex;
                align-items: flex-start;
                text-align: center;
            }

            .button {
                width: 100%;
            }

            h3 {
                color: color($colors, dark);
                font-family: Bubblegum;
                font-size: 2.95vw;
                margin: 5px 0px 0px 0px;
            }

            p {
                color: color($colors, dark);
                font-family: Bubblegum;
                font-size: 1.9vw;
                margin: 5px 0px 0px 0px;
            }
        }

        .own-character-row {
            flex-grow: 1;
            flex-basis: 0;

            .character {
                width: 81%;
            }
        }

        .actions-row {
            flex-grow: 1;
            flex-basis: 0;

            ion-col {
                display: flex;
                align-items: flex-end;
            }

            .button {
                width: 100%;
            }
        }
    }

    // Code for character glow.
    .glow {
        animation-duration: 1250ms;
        animation-name: glow;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes glow {
        0% {
            border-color: lighten(color($colors, dark), 0%);
            box-shadow: 0 0 5px lighten(color($colors, dark), 0%), inset 0 0 5px lighten(color($colors, dark), 0%), 0 2px 0 #000;
        }

        100% {
            border-color:lighten(color($colors, dark), 15%);
            box-shadow: 0 0 20px lighten(color($colors, dark), 15%), inset 0 0 10px lighten(color($colors, dark), 15%), 0 2px 0 #000;
        }
    }

    // Fade eliminated characters when asking.
    .game-board-character-eliminated {
        opacity: 0.80;
    }

    // Code for character card flip animation.
    .flip-container {
        perspective: 1000px;
    }

    .game-board-character-flipped .flipper {
        transform: rotateY(180deg);
    }

    // Flip speed goes here
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    // Hide back of pane during swap
    .front,
    .back {
        backface-visibility: hidden;
    }

    // Front pane, placed above back
    .front {
        z-index: 2;
        transform: rotateY(0deg);
    }

    // Back, initially hidden pane
    .back {
        box-sizing: border-box;
        transform: rotateY(180deg);
        background-color: color($colors, primary);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        h3 {
            font-size: 10vw;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin: 0px;
            font-family: 'Modak', cursive;
            color: color($colors, dark);
        }
    }

    .back {
        @include character-card-border;
    }
}
