main-menu-page {
    .main-menu {
        @include flex-container(column,
        center,
        center);
        height: 100%;
        background: url('../assets/img/main-menu-bg.png') no-repeat center top;
        background-size: 100% auto; 
        .main-title {
            font-size: 15vw;
            font-family: 'Modak', cursive;
            text-align: center;
            color: color($colors, primary);
            margin: 0px;
            text-shadow: -1px 0 color($colors, dark), 0 1px color($colors, dark), 1px 0 color($colors, dark), 0 -1px color($colors, dark);
        }
        button,
        .button {
            margin: 10px;
        }
        .space-above {
            margin-top: 20%;
        }
    }
}